.timer{margin:10px;width:20%;display:flex;justify-content:space-between}.field{display:flex;flex-flow:column;font-size:28px}.field .value{font-weight:1000}input:focus{outline:transparent;border-color:#4e75ff}
